<h1>Editing Book</h1>
<div class="error_message">
<% if @book.errors.any? %>
	<h4><%= @book.errors.count %> error prohibited this book from being saved: </h4>
	<ul>
		<% @book.errors.full_messages.each do |message| %>
			<div class="form-error">
				<%= message %>
			</div>
		<% end %>
	</ul>
<% end %>
</div>


<% if flash[:notice] %>
	<div class="flash">
		<%= flash[:notice] %>
	</div>
<% end %>


<%= form_for(@book) do |f| %>
	<p>Title</p>
	<%= f.text_field :title %>
	<p>Body</p>
	<%= f.text_area :body %>
	<br><%= f.submit 'Update Book' %></br>
<% end %>


<div class="bar">
<%= link_to "show", book_path(@book.id) %>
<p>|</p>
<%= link_to "Back", books_path %>
</div>